<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %> 
  </head>
  <body>
    <% include partials/menu %>
    <div class="container-fluid bg-3 text-center">    
      <h3><%= page %></h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p>This is an about page. This is used for showing the user what the website is all about</p>      
        </div>
      </div>
    </div>
  </body>
  <% include partials/script %>
</html>
