<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %> 
  </head>
  <body>
    <% include partials/menu %>
    <div class="container-fluid bg-3 text-center">    
      <h3><%= page %></h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p>This is my first webiste</p>      
        </div>
        <div class="col-sm-4"> 
          <p>This is my first work on Express</p>
        </div>
        <div class="col-sm-4"> 
          <p>I have used bootstrap classes in this website to make it look better!</p>
        </div>
      </div>
    </div>
  </body>
  <% include partials/script %>
</html>
